:has(>#left-pane),
:has(>#right-page) {
  display: flex;
  flex-flow: row nowrap;
  gap: 1ex;
}

#boids {
  width: calc(100vw - 10em);
}

#left-pane,
#right-pane {
  margin: 0;
  padding: 0;
  width: fit-content;
}

#left-pane>#controller {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#left-pane>#parameters {
  margin: 0;
  padding: 0;
  width: fit-content;
}

#number-of-boids {
  max-width: 4em;
}

#number-of-living-boids {
  pointer-events: none;
}

#number-of-living-boids {
  left: 1em;
  margin: 0;
  padding: 0;
  position: relative;
  top: calc(2em - 100%);
  width: fit-content;
}

#number-of-living-boids[face='bad']::before {
  content: '\1F629';
}

#number-of-living-boids[face='not-good']::before {
  content: '\1F635';
}

#number-of-living-boids[face='good']::before {
  content: '\1F642';
}

#number-of-living-boids[status='perfect']::before {
  content: '\1F606';
}

#number-of-living-boids[face='warn']::before {
  content: '\1F625';
}

#number-of-living-boids[status='bad'] {
  color: red;
}

#number-of-living-boids[status='good'] {
  color: white;
}

#number-of-living-boids[status='not-good'] {
  color: yellow;
}

#number-of-living-boids[status='perfect'] {
  color: green;
}

#parameters>.parameter {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 1ex;
  margin: 0;
  padding: 1ex 0;
}

.parameter>.head {
  text-align: center;
  text-wrap: nowrap;
  width: 3em;
}
