:has(>#left-pane),
:has(>#right-page) {
  display: flex;
  flex-flow: row nowrap;
  gap: 1ex;
}

.flex {
  display: flex;
}

#left-pane,
#right-pane {
  margin: 0;
  padding: 0;
  width: fit-content;
}

#left-pane>#controller {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#left-pane>#parameters {
  border-color: gray;
  margin: 0;
  padding: 0;
  width: fit-content;
}

#number-of-boids {
  max-width: 4em;
}

#number-of-living-boids {
  pointer-events: none;
}

#number-of-living-boids {
  align-self: center;
  font-family: monospace;
}

#number-of-living-boids::after {
  color: initial;
  content: '/';
}

#parameters>.parameter {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 1ex;
  margin: 0;
  padding: 1ex 0;
}

.parameter>.head {
  text-align: center;
  text-wrap: nowrap;
  width: 3em;
}
